/* Style de base pour le formulaire */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    width: 100%; /* Augmenter la largeur maximale du conteneur */
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.loyout{
    width: 100%;
}

/* Style des lignes du formulaire */
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

/* Style des champs d'entrée */
.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Style des boutons */
.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* Style des liens */
.underline {
    text-decoration: underline;
    color: #007bff;
    cursor: pointer;
}

.underline:hover {
    color: #0056b3;
}
